<p>spring-boot-practise works Ritesh</p>

<!-- <table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>CompanyId</th>
      <th>CompanyName</th>
      <th>CompanyAddress</th>
      <th>CompanyTotalMembers</th>
      <th>OwnerName</th>
      <th>CompanyProducts</th>
      <th>WorkingHours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfComapanyDetails">
      <td><button (click)="deleteCompanyData(data.companyId)">delete</button>{{data.companyId}}<button (click)="getCompanyDataById(data.companyId)">edit</button></td>
      <td>{{data.companyName}}</td>
      <td>{{data.companyAddress}}</td>
      <td>{{data.companyTotalMembers}}</td>
      <td>{{data.ownerName}}</td>
      <td>{{data.companyProducts}}</td>
      <td>{{data.workingHours}}</td>
    </tr>
  </tbody>
  <select (change)="perPageChange()" [(ngModel)]="perPage">
      <option [ngValue]="2">2</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="6">6</option>
      <option [ngValue]="8">8</option>
      <option [ngValue]="10">10</option>
    </select>
     <span class="f-13">Showing {{ count!=0?lowerBound:0}} to
                                {{upperBound>count?count:upperBound}} of
                                {{count}}
     </span>
     <button [disabled]="lowerBound==1" (click)="prevPage()">prevPage</button>
     <button  [disabled]="upperBound >= count || count <= perPage" (click)="nextPage()">nextPage</button>
</table> -->

<!-- app.component.html -->

<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="['/worker',{name:'Workers Information'}]" routerLinkActive="active" class="nav-link">Worker</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/customer',{name:'Customers Information'}]" routerLinkActive="active" class="nav-link">Customer</a>
    </li>
  </ul>
</nav>

<br>
<br>

<table class="company-table" border="1" cellpadding="8" cellspacing="0">
  <caption>Company Information</caption>
  <thead>
    <tr>
      <th>CompanyId</th>
      <th>CompanyName</th>
      <th>CompanyAddress</th>
      <th>CompanyTotalMembers</th>
      <th>OwnerName</th>
      <th>CompanyProducts</th>
      <th>WorkingHours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfComapanyDetails">
      <td>
        <button (click)="deleteCompanyData(data.companyId)">Delete</button>
        {{data.companyId}}
        <button (click)="getCompanyDataById(data.companyId)">Edit</button>
      </td>
      <td>{{data.companyName}}</td>
      <td>{{data.companyAddress}}</td>
      <td>{{data.companyTotalMembers}}</td>
      <td>{{data.ownerName}}</td>
      <td>{{data.companyProducts}}</td>
      <td>{{data.workingHours}}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="listOfComapanyDetails.length==0" class="colorrdd">no records found</p>

<div class="pagination">
  <select (change)="perPageChange()" [(ngModel)]="perPage">
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option [ngValue]="15">15</option>
    <option [ngValue]="20">20</option>
    <option [ngValue]="25">25</option>
  </select>

  <span class="f-13">
    Showing {{ count !== 0 ? page : 1 }} of {{ count }}
  </span>

  <button [disabled]="page === 1" (click)="prevPage()">Prev</button>
  <button [disabled]="totalRecords >= count" (click)="nextPage()">Next</button>
</div>


<br>
<br>

<form>
  <label for="companyName">CompanyName:</label>
  <input type="text" id="companyName" name="companyName" [(ngModel)]="companyName" required>

  <label for="companyAddress">CompanyAddress:</label>
  <input type="text" id="companyAddress" name="companyAddress" [(ngModel)]="companyAddress" required>

  <label for="companyTotalMembers">CompanyTotalMembers:</label>
  <input type="text" id="companyTotalMembers" name="companyTotalMembers" [(ngModel)]="companyTotalMembers" required>

  <label for="ownerName">OwnerName:</label>
  <input type="text" id="ownerName" name="ownerName" [(ngModel)]="ownerName" required>

  <label for="companyProducts">CompanyProducts:</label>
  <input type="text" id="companyProducts" name="companyProducts" [(ngModel)]="companyProducts" required>

  <label for="workingHours">WorkingHours:</label>
  <input type="text" id="workingHours" name="workingHours" [(ngModel)]="workingHours" required>

  <!-- <button type="submit" (click)="submitCompanyData()">Submit</button> -->
   <button *ngIf="!company.companyId" type="submit" (click)="submitCompanyData()">
   Create
   </button>

   <button *ngIf="company.companyId" type="submit" (click)="updateCompanyData()">
   Update
   </button>

</form>

<br>
<br>
<h3>Customer Head -><button (click)="getCustomerHead()">click</button></h3>
<br>
<br>
<h3>Worker Head -><button (click)="getWorkerHead()">click</button></h3>

