.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

select {
  padding: 5px;
}

.f-13 {
  font-size: 13px;
}


/* styles.css or component's CSS */

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

.company-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.company-table th, .workers-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.company-table th {
    background-color: #3e8e41;
    color: white;
}

.company-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.company-table tr:hover {
    background-color: #ddd;
}

.company-table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}


form {
    background-color: #d4f7d6; /* Light green background */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    width: 350px;
    margin: 50px auto; /* Center the form horizontally with some margin */
    border: 2px solid #66bb6a; /* Light green border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a box effect */
  }

  /* Styling the form labels */
  label {
    font-size: 14px;
    color: #2e7d32; /* Dark green color for labels */
    margin-bottom: 8px;
    display: block;
  }

  /* Styling the form input fields */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c8e6c9; /* Light green border for inputs */
    border-radius: 4px;
    font-size: 14px;
    background-color: #ffffff; /* White background for input fields */
  }

  /* Styling the submit buttons */
  button {
    background-color: #66bb6a; /* Light green background for buttons */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    margin-top: 10px; /* Some space between the buttons */
  }

  /* Button hover effect */
  button:hover {
    background-color: #388e3c; /* Darker green on hover */
  }

  /* Button active effect */
  button:active {
    background-color: #2e7d32; /* Even darker green when clicked */
  }

  .colorrdd{
    color: red;
  }